/* here you can put your own css to customize and override the theme */
.nomore {
    font-size: 13px;
    font-weight: bold;
    height: 50px;
    line-height: 30px;
    padding: 10px 0;
    text-align: center;
}
.loader
{
	background-image: url('../img/loader.GIF');
	background-repeat: no-repeat;
	line-height: 50px;
	background-position: center;
	height: 50px;
	padding: 10px 0px;
}
.errorMessage {
    color: red;
}
.myhide {
    display:none;
}
.clearboth{ clear:both; height:10px;}

/* CSS for scroll top */

#scroll_top_container {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    left: 135px;
}

#scroll_top_container_pos {
    margin: 0 auto;
    max-width: 962px;
    position: relative;
    z-index: 1000;
}

#scroll_top {
    right: -65px;
}
#scroll_top {
    position: absolute;
}

#scroll_top {
    background-color: #000;
    border: 8px solid rgba(34, 34, 34, 0.8);
    border-radius: 32px;
    bottom: 15px;
    cursor: pointer;
    height: 32px;
    opacity: 0.8;
    position: fixed;
    right: 280px;
    width: 32px;
}

.icon-scroll-top:before {
    content: "▲"
}
#scroll_top .icon {
    bottom: 3.5px;
    color: #fff;
    font-size: 10px;
    left: 4px;
    line-height: 0;
    position: relative;
}
.icon {
    font-style: normal;
    font-weight: normal;
    vertical-align: middle;
}

/* Page name validation*/
.username_preview { 
	position: absolute;
	top: 30px;
	width:94%;
	display: inline-block;
}
.field-check { 
	display: block;
	padding: 6px;
	text-indent: 16px;
	float:left;
	margin-left:10px;
	background: no-repeat left center;
}
.field-check.success{
	color: #57a957;
	background-image: url('../img/tick_green.png');
}
.field-check.error{
	color: #c43c35;
	background-image: url('../img/closex_red.png');
}
.field-check.valid{	
	background-image: url('../img/input-spinner.gif');
}

.unreadmsg{ background-color: #e5e5e5 !important; }
/* end */